/* Basic CSS Reset */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Body Styles */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #212121;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/* Heading Styles */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

/* Container Styles */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header Styles */
header {
  background: #212121;
  color: #1E88E5;
  padding: 1em 0;
  border-bottom: 3px solid #1E88E5;
}

header a {
  color: #1E88E5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header #branding img {
  width: 50px;
}

header #branding h1 span {
  color: #1E88E5;
}

header nav {
  float: right;
  margin-top: 10px;
}

/* Showcase Styles */
#showcase {
  min-height: 200px;
  background-color: #212121;
  text-align: center;
  color: #1E88E5;
  padding: 50px 0;
}

#showcase h1 {
  margin-top: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

#showcase p {
  font-size: 16px;
}

/* Boxes Styles */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
  background-color: #333333;
  color: #FFFFFF;
}

#boxes .box img {
  width: 90px;
}

/* Footer Styles */
footer {
  background: #212121;
  color: #1E88E5;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}

/* About Page Styles */
#bio {
  padding: 2em;
  display: flex;
  align-items: center;
}

#bio img {
  width: 10em;
  border-radius: 50%;
  margin-right: 2em;
}

#bio h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* Skills Styles */
#skills {
  padding: 2em;
}

#skills .skill-group {
  margin-bottom: 2em;
}

#skills .skill-group h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #FFFFFF;
}

#skills .skill-group ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#skills .skill-group li {
  margin: 0 1em 0.5em 0;
  padding: 0.5em 1em;
  background-color: #333333;
  border-radius: 0.3em;
  color: #FFFFFF;
}

/* Etsy Styles */
#etsy {
  padding: 2em;
}

/* Contact Styles */
#contact {
  padding: 2em;
}

/* Media Queries */
@media(max-width: 480px) {
  header #branding,
  header nav,
  header nav li,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }

  header nav {
    margin-top: 0px;
  }

  #showcase h1 {
    font-size: 24px;
  }

  #boxes .box img{
    width: 70px;
  }
}

@media(min-width: 481px) and (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }

  header nav {
    margin-top: 0px;
  }

  #showcase h1 {
    font-size: 28px;
  }

  #boxes .box img{
    width: 80px;
  }
}

@media(min-width: 769px) and (max-width: 1024px) {
  #showcase h1 {
    font-size: 32px;
  }

  #boxes .box {
    width: 45%;
  }
}

/* Etsy Embed Styles */
#etsy-embed {
  padding: 2em;
}

#etsy-embed .container {
  text-align: center;
}

/* Playlist Styles */
.playlist-section {
  text-align: center;
}

/* Center Text */
.center-text {
  text-align: center;
}

#table-of-contents .container ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

#table-of-contents .container li {
  margin: 0 1em;
  text-align: center;
}

#table-of-contents .container img {
  display: block;
  margin: 0 auto;
}

hr {
  border: 1px solid #333333;
  margin: 2em 0;
}

#music .playlist-section h2 img {
  width: 800px;
  height: 800px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 0.5em;
  text-align: center;
}
